{%extends "layout.html"%}


{% block main %}
<title>{{results[0][1]}}, a list of films</title>
<style>
  .wrapperDiv {
    display: flex;
    height: 100vh;
  }

  .movieList {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: fit-content;
    flex-direction: row;
    flex-shrink: 0;
    gap: 30px;
  }

  .movieList input {
    border-radius: 6px;
  }

  .movieList input:hover {
    box-shadow: 0 0 0 2px #DDEEFF;
  }

  .edit-list-container {
    border-radius: 5px;
    background-color: rgb(68, 84, 102);
    padding: 0px 0px;
    height: fit-content;
  }
</style>

<div class="wrapperDiv">
  <div class="movieList">
    {%for movie in movies%}
    <form action="/movie/{{ movie[3] | lower | replace(" ", " -") }}" method="post">
      <input src="{{movie[4]}}" alt="{{movie[2]}}" class="images" name="{{movie[2]}}" id="movieImages" type="image">
      <input type="hidden" name="moviename" value="{{movie[3]}}" style="display: none;">
      <input type="hidden" name="movie_id" value="{{movie[2]}}">
    </form>
    {%endfor%}
  </div>
  <div class="edit-list-container">
    <p style="color: white;  padding-left: 50px;padding-right: 50px; padding-top: 10px;">Edit or delete this list...</p>
    <p style="color: white; border-top: 1px solid rgb(21, 24, 29); padding-top: 10px;">Make this list private</p>
    <p style="color: white; border-top: 1px solid rgb(21, 24, 29); padding-top: 10px;">Share</p>
  </div>
</div>


{% endblock %}