{%extends "layout.html"%}


{% block main %}
<style>
  td{
  margin: 0px 0px;
  padding: 20px 0px;
  float: left;
  width: 40%;
  border-top: 1px solid #4c4f52 ;
}
table{
  margin-left: 200px;
}
input{
  margin: 0px;
  padding: 0px;
}

.moviefont{
        text-decoration: none !important;
        font-family: Arial, Helvetica, sans-serif;
        color:#313335 !important;
        font-size: larger;
    }
    .moviefont:hover{
        color:#4c4f52 !important;
    }
        #movieImages{
            border-radius: 5%;
        }
        #movieImages:hover{
          box-shadow:  0 0 0 2px #DDEEFF;
        }
  </style>
<table id="tabledata">
{%for movie in movies%}
<tr >
    <td>
      <form action="/movie" method="post"><input name="moviename" type="hidden" value="{{movie[5]}}" >
        <input type="image" src="" alt="{{movie[5]}}" class="images" name="{{movie[5]}}" id="movieImages"></td>
  <td>
          <input type="submit" value="{{movie[5]}}" class="moviefont" name="moviename"></form>
          <form action="/year" method="post"><input type="submit" name="releaseyear"value="{{movie[6]}}" class="movieyear"></form></td>
    <td style="border-top: none;"><p id="reviewText" style="color:rgb(153, 170, 187);" align="left">{{movie[4]}}</p></td>

</tr>
{%endfor%}
</table>
<script src="/static/loadimages.js" type="module"></script>
  {% endblock %}
