{%extends "layout.html"%}


{% block main %}
<title>Search results for {{searchquery}}</title>

<style>
    input{
      margin: 0px;
      padding: 0px;
    }
    form{
      margin: 0px;
      padding: 0px;
      width: 50%;
    }
    .moviefont{
        text-decoration: none !important;
        font-family: Arial, Helvetica, sans-serif;
        color:#313335 !important;
        font-size: larger;
    }
    .moviefont:hover{
        color:#4c4f52 !important;
    }
    #movieImages{
            border-radius: 5%;
        }
    #movieImages:hover{
      box-shadow:  0 0 0 2px #DDEEFF;
        }
    .container {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 50px;
    }
    .container-item {
        display: flex;
        gap: 50px;
    }
    .title-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .title-item input {
        color: white;
    }
    .title-item input:hover {
        color: grey;
    }
    .images {
      border-radius: 10px;
    }
    .images:hover {
      cursor: pointer;
      box-shadow:  0 0 0 2px lightblue;
    }
    form {
      width: fit-content;
    }
  </style>
<div style="margin-bottom: 20px;">FOUND AT LEAST {{movies|length}} MATCHES FOR "{{searchquery}}"</div>
<div class="container">
  {%for movie in movies%}
  <div class="container-item" id="container-item-{{loop.index}}">
    <img src="" alt="{{movie[1]}}" class="images" name="{{movie[1]}}">
    <div class="title-item">
        <div style="display: flex; gap: 5px;">
            <form action="/movie/{{ movie[1] | lower | replace(" ", "-") }}" method="post" id="movie-form-{{loop.index}}">
                <input name="moviename" type="hidden" value="{{movie[1]}}">
                <input type="hidden" name="movie_id" value="{{movie[0]}}">
                <input type="submit" class="moviefont" value="{{movie[1]}}">
            </form>
            <div>&hairsp;</div>
            <form action="/year" method="get">
                <input type="submit" name="releaseyear" value="{{movie[2]}}">
            </form>
        </div>
            <div style="display: flex;">
                <div style="color: grey;">Directed by &hairsp;</div>
                <form action="/director/{{ movie[3] | lower | replace(" ", "-") }}" method="post">
                    <input type="submit" value="{{movie[3]}}" name="directorname">
                </form>
            </div>
    </div>
  </div>
  {%endfor%}
</div>
<script src="/static/loadimages.js" type="module"></script>
  {% endblock %}
